<h1>A Node view</h1>
{{message}}
<form action='/node-mongodb-mongoose-user' method='post'>
  <input type='text' name='emailBody' id="emailBody"/>
  <button type='submit'>Enviar</button>
</form>

<h1>Dados de User Recuperador</h1>
{{firstNameV}}<br />
{{lastNameV}}<br />
{{passwordV}}<br />
{{emailV}}<br />
{{messagesV}}<br />
